html,body{padding:0;margin:0;background-color: #ffefe7;font-family: "Microsoft YaHei";height:100%;}
body{background: url("images/bg.jpg") no-repeat center top;background-color:#fa407d ;background-size:100% ;}
em,i{font-style: normal;}
.hide{display: none;}
ul{overflow:hidden;margin:0;padding:0;}
ul,li{list-style: none;}
